@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@font-face {
    font-family: 'yahei';
    src: url('YaHeiBold.ttf');
}

h1,p{
    font-family: 'yahei';
}
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width:auto;
    z-index: -100;
}
#banner {
    position: relative;
    width:100%;
    overflow: hidden;
}
#logo{
    padding-left:-100px;
}